[Unit]
Description=Moqiott Proxy service
After=mosquitto.service
 
[Service]
User=pi
Type=simple
ExecStart=/usr/bin/python3 run.py
WorkingDirectory=/home/david/Moqiott/mqtt-proxy
Restart=always
 
[Install]
WantedBy=multi-user.target
